@import 'config';
@import 'mobile';

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $background-color;
  color: set-text-color($background-color);
  font-family: $raleway;
  background-color: $off-white;
  margin: 0;
  height: 100%;
  background: url('../leaves.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

nav.navbar {
  height: 5rem;
  background-color: $light-leaves;
}

div.container-fluid > .justify-content-center > h1 {
  background: url('../leaves.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1.display-1 {
  color: $blue;
}

.d-card {
  margin: 10px;
}

.d-card-image {
  border-radius: 10px;
  width: 300px;
  height: 400px;
  box-shadow: 0 0 3px 1px #ccc;
  // border: 1px solid $blue;
  // background-color: $blue;
  padding: 1px;

  &:hover {   
    box-shadow: 3px 3px 3px $blue-op;    
    transition: box-shadow 0.3s ease-in-out;
  }
}

.aboutme {
  background-color: rgba(246, 246, 246, 0.8);
  padding: 20px;
  border-radius: 10px;
  width: 90%;
}

.d-card-info {
  margin-top: 10px;
  min-height: 100px;
}

.d-card-title {
  font-size: 24px;
  margin: 0px;
}

.d-card-subtitle {
  font-size: 16px;
  margin: 0px;
}

.success-message {
  color: #45835b;
  padding: 10px 15px;
}

.err-message {
  color: rgb(145, 63, 53);
  padding: 10px 15px;
}

.mt-5 {
  background-color: rgba(215, 224, 213, 0.8);
  height: 70px;
  margin-top: -70px;
  clear: both;
}

button.btn-primary {
  background-color: $blue;
  border-color: $blue;

  &:hover {
    background-color: rgb(246, 246, 246);
    border-color: rgb(246, 246, 246);
    color: $blue;
  }
}

span.nav-name.navbar-brand {
  color: $blue;
  font-size: 2rem;
}

.icons {
  margin-bottom: 3rem;
  
  i.fab {
    color: $devil-blue;
  }

  a {
      padding: 0.4rem;

      &:hover {
          color: $light-color;
          @include easeOut();
      }
  }
}
.icons-about {
  margin-top: 3rem;
  margin-bottom: 2rem;
  
  i.fab {
    color: $light-color;

    &:hover {
        color: $blue;
        @include easeOut();
    }
  }

  a {
      padding: 0.4rem;
  }
}

.icons-contact {
  margin-top: 3rem;
  
  i.fab {
    color: $light-color;

    &:hover {
        color: $blue;
        @include easeOut();
    }
  }

  a {
      padding: 0.4rem;

  }
}